@import "/fonts/Sans/cmun-sans.css";
@import "/fonts/Serif/cmun-serif.css";
@import "/fonts/Typewriter/cmun-typewriter.css";

h1 {
    font-family: "Computer Modern Serif", serif;
}
body {
    font-family: "Computer Modern Serif", serif;
    /* back to 1972 https://rachelbythebay.com/w/2022/06/24/1972/ */
    color:#FFBF00;
    background-color:#000000;
}

.banner-left, .banner-right {
    font-family: "Computer Modern Typewriter", monospace;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

/* for tag/categorie "cloud" */
.btn {
    /*
    color:#586e75;
    background-color:#eee8d5;
   */
    border-radius: 5px;
    padding: 1px;
}

.right  { margin-left: auto; margin-right: 0px;  text-align: right; }
.left   { margin-left: 0px;  margin-right: auto; text-align: left; }
.center { margin-left: auto; margin-right: auto; text-align: center; }

/* Headline Hashes */
.headline-hash,
.headline-hash:hover {
    color:#586e75;
    text-decoration: none;
    font-size: 0.8em;
    vertical-align: top;
}
.headline-hash:hover {
    opacity: 0.75;
}

/*
 This needs manual sync with the syntax highlighting
 It is a best-effort match for languages not supported by chroma. 
*/
code[class^="language-"],code[class*=" language-"] {
    padding:5px;
    width:100%;
    display: inline-block;
    /*
    color:#586e75;
    background-color:#eee8d5;
*/
    -moz-tab-size:4;
    -o-tab-size:4;
    tab-size:4
}

/*
code[class^="language-"],code[class*=" language-"] {
    padding:5px;
    width:100%;
    display: inline-block;
    color:#f8f8f2;
    background-color:#272822;
    -moz-tab-size:4;
    -o-tab-size:4;
    tab-size:4
}
*/
